<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
    <link rel="stylesheet" href="styles/styles.css" media="screen" title="no title" charset="utf-8">
    <title>Clash Encounter | Competitions Made Easy</title>
</head>

<body>

    <!--MAIN HERO SECTION-->
    <section class="hero is-fullheight">
        <!--HEAD NAVIGATION-->
        <header class="hero-head">
            <nav class="navbar">
                <div class="navbar-brand is-flex">
                    <div class="navbar-start">
                        <div class="blank">
                        </div>
                    </div>
                    <div class="navbar-end">
                        <div class="navButtons" id="navLi">
                            <ul class="level-item">
                                <li><a href="#" id="navList">Meet the Team</a></li>
                                <li><a href="#" id="navList">Social</a></li>
                                <li><a href="http://localhost:3000/adminsignin" id="navList">Login</a></li>
                                {{{message1}}} {{username}}

                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="hero-body level">
            <div class="logo-main level-item">
                <a class="logo" href="#">
                    <img src="./images/project-2-logo-01.png " alt="Clash Encounter">
                </a>
            </div>
        </div>
    </section>
    <!--LISTED MATCHES SECTION-->
    <section class="section is-fullheight level">
        <div class="card">
           
                    <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="tournamnet-game">TOURNAMENT</label>
            <input type="text" id="tournamnet-game" class="form-control" aria-describedby="tournamnet-game" placeholder="Enter tournamnet game">
          </div>
          <div class="form-group">
            <label for="tournamnet-description">DESCRIPTION</label>
            <textarea class="form-control" id="tournamnet-description" aria-describedby="tournamnet-description" placeholder="Enter Tournament description"></textarea>
            <label for="tournamnet-TotalTeams"># OF TEAMS</label>
            <input type="text" id="tournamnet-TotalTeams" class="form-control" aria-describedby="tournamnet-TotalTeams" placeholder="Enter Tournament TotalTeams">
            <label for="tournamnet-TeamSize">SIZE OF TEAMS</label>
            <input type="Text" id="tournamnet-TeamSize" class="form-control" aria-describedby="tournamnet-TeamSize" placeholder="Enter Tournament TeamSize">
                        <label for="tournamnet-entryFee">ENTRY FEE</label>
            <input type="text" id="tournamnet-entryFee" class="form-control" aria-describedby="tournamnet-entryFee" placeholder="Enter Tournament entryFee">
                                    <label for="tournamnet-prize">prize</label>
            <input type="text" id="tournamnet-prize" class="form-control" aria-describedby="tournamnet-prize" placeholder="Enter Tournament prize">
            <label for="tournamnet-Image">Image</label>
            <input type="text" id="tournamnet-Image" class="form-control" aria-describedby="tournamnet-Image" placeholder="Enter Tournament Image">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>

            
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4 level-item">ADMIN CREATE A TOURNAMENT</p>
                    </div>
                </div>

                <div class="content">
                    <p class="level-item">This is what separates the casual players from the professionals, think you've
                        got the stuff?</p>

                </div>
            </div>
        </div>
        <div class="card">
                    <h3>Examples:</h3>
        <ul id="tournamnet-list" class="list-group">
          {{#each tournamnets}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="tournamnet/{{this.id}}">{{this.game}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4 level-item">All games available</p>
                    </div>
                </div>

                <div class="content">
                    <p class="level-item">This is what separates the casual players from the professionals, think you've
                        got the stuff?</p>
                    <p class="level-item">Give it a try! Tag us on your best clips on twitter
                        <a> &nbsp; @clashEncounter</a>.</p>
                    <a class="level-item" href="#">#CEPRO</a> <a class="level-item" href="#">#CEMEONLINE</a>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

    </section>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <!--CARDS SECTION-->
            <div class="tileSection ">
                <div class="tile is-ancestor level ">
                    <div class="tile is-4 level-left ">
                        <!-- Add content or other tiles -->
                        <p class="subtitle">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatum, similique voluptate dignissimos itaque nemo eius
                            beatae natus. Nulla ratione culpa eaque dolor provident similique illum modi aliquam nihil molestias!
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, laboriosam dolor quasi nisi
                            molestiae aut blanditiis omnis, nobis cupiditate ab deleniti dicta quia reiciendis quos dolore
                            consectetur? Tenetur, quas aspernatur!
                        </p>

                    </div>
                    <div class="tile is-4 level-right ">
                        <!-- Add content or other tiles -->
                        <p class="subtitle">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio doloribus dolores qui, omnis dolor, optio tempora fuga
                            placeat eos natus corrupti et quisquam modi aliquid veniam, dolorum magnam inventore. Natus.
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam fuga incidunt voluptatum laboriosam?
                            Et, dolorum harum. Ratione labore autem quasi placeat cumque sequi perferendis aliquid molestiae,
                            sapiente porro earum maxime?
                        </p>

                    </div>
                </div>
            </div>
        </div>

    </section>


</body>

</html>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>