<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">tournament</h5>
          <p>
            <strong>ID</strong>: {{tournament.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{tournament.game}}</p>
          <p>
            <strong>Description:</strong> {{tournament.description}}</p>
             <p>
            <strong>Total Teams</strong>: {{tournament.totalTeams}}</p>
          <p> 
          <p>
            <strong>Team size</strong>: {{tournament.teamSize}}</p>
          <p>
          <p>
            <strong>Image</strong>: {{tournament.Image}}</p>
          <p>
            <a href="/authenticated">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
